In [56]:
import pandas as pd
import numpy as np

Initially, I tested it with random variables, but they didnâ€™t pass the Shapiro test for normality.So I tried a normal function

A = np.random.randint(30,35,25) 
B = np.random.randint(30,35,25)
C = np.random.randint(30,35,25)

FIXED VERSION

In [71]:
A = np.random.normal(loc=30, scale=2, size=25)   
B = np.random.normal(loc=30, scale=2, size=25) 
C = np.random.normal(loc=30, scale=2, size=25)

In [73]:
A = pd.DataFrame(A)
B = pd.DataFrame(B)
C = pd.DataFrame(C)

In [75]:
dfs = [A,B,C]

In [77]:
ABC = pd.concat(dfs, axis = 1)
ABC.columns = ["GRUP_A" , "GRUP_B", "GRUP_C"]
ABC.head()

      GRUP_A     GRUP_B     GRUP_C
0  33.226880  29.573560  25.687845
1  31.624626  28.495572  30.753319
2  31.087143  26.134388  25.228837
3  30.100971  30.215440  31.621423
4  30.906738  27.965245  32.892213

Checking the assumptions

In [139]:
from scipy import stats

In [141]:
shapiro(ABC["GRUP_A"])

ShapiroResult(statistic=0.9726063754920257, pvalue=0.711522791981742)

In [143]:
shapiro(ABC["GRUP_B"])

ShapiroResult(statistic=0.9645548896686779, pvalue=0.5124005702812984)

In [145]:
shapiro(ABC["GRUP_C"])

ShapiroResult(statistic=0.9758553212165758, pvalue=0.7927261733137949)

CHECKING VARIANS

In [148]:
stats.levene(ABC["GRUP_A"],ABC["GRUP_B"],ABC["GRUP_C"])

LeveneResult(statistic=0.3452029462827872, pvalue=0.7092420739728221)

HYPOTHESIS TEST

In [152]:
stats.f_oneway(ABC["GRUP_A"],ABC["GRUP_B"],ABC["GRUP_C"])

F_onewayResult(statistic=0.3210319216557873, pvalue=0.7264330420859952)