### Value Assignment for Categorical Variables

In [3]:
import numpy as np
import pandas as pd

In [9]:
V1 = np.array([1,3,6,np.NaN,7,1,np.NaN,9,15])

V4 = np.array(["IT","IT","IK","IK","IK","IK","IK","IT","IT"])

df = pd.DataFrame({
   "maas" : V1,
    "departman" :V4}
)
df

   maas departman
0   1.0        IT
1   3.0        IT
2   6.0        IK
3   NaN        IK
4   7.0        IK
5   1.0        IK
6   NaN        IK
7   9.0        IT
8  15.0        IT

In [21]:
df["departman"].fillna(df["departman"].mode()[0],inplace = False) #We select the first instance of the most common value.

0    IT
1    IT
2    IK
3    IK
4    IK
5    IK
6    IK
7    IT
8    IT
Name: departman, dtype: object

In [27]:
 df["departman"].fillna(method = "bfill")  ## Backward Fill

C:\Users\semeh\AppData\Local\Temp\ipykernel_27948\2382350556.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["departman"].fillna(method = "bfill")  ## Backward Fill

0    IT
1    IT
2    IK
3    IK
4    IK
5    IK
6    IK
7    IT
8    IT
Name: departman, dtype: object