In [20]:
import seaborn as sns
import missingno as msno 
import pandas as pd
df = sns.load_dataset("titanic")
df = df.select_dtypes(include = ["float64" , "int64"])
df.head()

   survived  pclass   age  sibsp  parch     fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

In [22]:
from ycimpute.imputer import EM

In [24]:
var_names = list(df)

In [26]:
import numpy as np 
n_df = np.array(df)

In [28]:
dff = EM().complete(n_df)

In [30]:
dff = pd.DataFrame(dff,columns = var_names)

In [32]:
dff.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64